* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}


.container img {
    width: 500px;
    height: 350px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    margin: 0 100px;
    cursor: zoom-in;
}


#mirror {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: url(img/hoang_hon.jpg);
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
